server/data/xsd-facture/PES_V2/NS_TIPIROLE/r0/Class_Role_TIPI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cm="http://www.minefi.gouv.fr/cp/helios/pes_v2/commun" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://www.minefi.gouv.fr/cp/helios/pes_v2/commun" schemaLocation="../../Class_SchemasCommuns.xsd"/>
	<xs:include schemaLocation="Commun_Role_TIPI.xsd"/>
	<xs:complexType name="TBlocRole_TIPI">
		<xs:sequence>
			<xs:element name="Exer" type="cm:Base_Annee"/>
			<xs:element name="IdRol" type="cm:Base_Num7"/>
			<xs:element name="TypRol" type="TTypRol"/>
			<xs:element name="DteAsp" type="cm:Base_Date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
