server/data/xsd-facture/PES_V2/Rev0/Class_Acquit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cm="http://www.minefi.gouv.fr/cp/helios/pes_v2/commun">
	<xs:import namespace="http://www.minefi.gouv.fr/cp/helios/pes_v2/commun" schemaLocation="../Class_SchemasCommuns.xsd"/>
	<xs:element name="Acquit" type="TAcquit"/>
	<xs:complexType name="TAcquit">
		<xs:sequence>
			<xs:element name="NomFic" type="cm:Base_Texte100"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
