server/data/xsd-facture/PES_V2/NS_Depense/r0/Class_Paiement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cm="http://www.minefi.gouv.fr/cp/helios/pes_v2/commun" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://www.minefi.gouv.fr/cp/helios/pes_v2/commun" schemaLocation="../../Class_SchemasCommuns.xsd"/>
	<xs:include schemaLocation="CommunDepense.xsd"/>
	<xs:complexType name="TPaiement">
		<xs:sequence>
			<xs:element name="ModeReg" type="TCodePaiement"/>
			<xs:element name="DtePay" type="cm:Base_Date"/>
			<xs:element name="IdPay" type="cm:Base_Num12"/>
			<xs:element name="MtPay" type="cm:Base_Montant"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
